In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
churndf = pd.read_csv("Churn.txt")

In [45]:
churndf.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [46]:
#Columns and row in our data
churndf.shape

(3333, 21)

In [47]:
#gives the list of columns in the dataset.
#churndf.columns.values or
print(churndf.columns)

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [48]:
#Check number of nan or null values present in each columns.
print(churndf.isnull().sum())
#our data does not contain any missing values.

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [49]:
#Here we see how our data is like mean average and all that.
print(churndf.describe())

       Account Length    Area Code  VMail Message     Day Mins    Day Calls  \
count     3333.000000  3333.000000    3333.000000  3333.000000  3333.000000
mean       101.064806   437.182418       8.099010   179.775098   100.435644
std         39.822106    42.371290      13.688365    54.467389    20.069084
min          1.000000   408.000000       0.000000     0.000000     0.000000
25%         74.000000   408.000000       0.000000   143.700000    87.000000
50%        101.000000   415.000000       0.000000   179.400000   101.000000
75%        127.000000   510.000000      20.000000   216.400000   114.000000
max        243.000000   510.000000      51.000000   350.800000   165.000000

        Day Charge     Eve Mins    Eve Calls   Eve Charge   Night Mins  \
count  3333.000000  3333.000000  3333.000000  3333.000000  3333.000000
mean     30.562307   200.980348   100.114311    17.083540   200.872037
std       9.259435    50.713844    19.922625     4.310668    50.573847
min       0.000000     0.000000     0.000000     0.000000    23.200000
25%      24.430000   166.600000    87.000000    14.160000   167.000000
50%      30.500000   201.400000   100.000000    17.120000   201.200000
75%      36.790000   235.300000   114.000000    20.000000   235.300000
max      59.640000   363.700000   170.000000    30.910000   395.000000

       Night Calls  Night Charge    Intl Mins   Intl Calls  Intl Charge  \
count  3333.000000   3333.000000  3333.000000  3333.000000  3333.000000
mean    100.107711      9.039325    10.237294     4.479448     2.764581
std      19.568609      2.275873     2.791840     2.461214     0.753773
min      33.000000      1.040000     0.000000     0.000000     0.000000
25%      87.000000      7.520000     8.500000     3.000000     2.300000
50%     100.000000      9.050000    10.300000     4.000000     2.780000
75%     113.000000     10.590000    12.100000     6.000000     3.270000
max     175.000000     17.770000    20.000000    20.000000     5.400000

       CustServ Calls
count     3333.000000
mean         1.562856
std          1.315491
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          9.000000

In [53]:
#Renaming the column 'Int'l Plan' to 'Intl plan' and 'Churn?' t9 'Churn' since it will create problem
churndf.rename(columns={"Int'l Plan":"Intl_plan", "Churn?":"Churn","VMail Plan":"VMail_Plan"}, inplace=True)
churndf.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', 'Intl_plan',
       'VMail_Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn'], dtype=object)

In [56]:
#Here we are transforming the data yes/no/true/folse to 0/1 (string to numeric value)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

churndf['Intl_plan'] = le.fit_transform(churndf.Intl_plan)
churndf['VMail_Plan'] = le.fit_transform(churndf.VMail_Plan)
#no = 0
#yes = 1
churndf['Churn'] = le.fit_transform(churndf.Churn)
#false = 0
#true = 1

In [57]:
churndf.head()

,State,Account Length,Area Code,Phone,Intl_plan,VMail_Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [65]:
#Taking count of churn i.e. 1
c, nc = churndf['Churn'].value_counts()[1], churndf['Churn'].value_counts()[0]
print(c,nc)
#Here c is churn(True) and nc is notChurn(False)

483 2850

In [ ]:
#Now we need to normalize all the numerical data